* {
  box-sizing: border-box;
}

html {
  --bg: #fff;
  --fg: #25282A;
  --primary: #D1CCBD;
  --secondary: #6AD1E3;
  --tertiary: #FF585D;

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.65em + 0.7vw);
  line-height: 1.3;

  @media (prefers-color-scheme: dark) {
    --bg: #25282A;
    --fg: #fff;
  }
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 40em;
}

a {
  color: var(--primary);

  &:hover, &:focus { color: var(--secondary) }

  &:active { color: var(--tertiary) }
}

label {
  display: block;
  margin-bottom: 0.5em;
}

button, input {
  background: transparent;
  border-radius: 5px;
  border-color: var(--primary);
  border: 0.1em solid var(--primary);
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0.5em 1em;

  &:hover, &:focus {
    border-color: var(--secondary);
    outline: none;
  }
}

input {
  width: 100%;

  &:read-only {
    color: var(--primary)
  }
}

button {
  position: relative;
  transition: top 50ms;
  &.primary {
    border-color: var(--tertiary);
  }
  &:hover, &:focus {
    top: -1px;
  }
  &:active {
    background: var(--secondary);
    border-color: var(--secondary);
    top: 3px;
    &.primary {
      background: var(--tertiary);
      border-color: var(--tertiary);
    }
  }
}

.is-premium {
  color: var(--secondary);
}